<nav class="navbar navbar-expand-lg navbar-light blanco">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.tiktok.com/@tuscursosmagicos?lang=es" target="blank">
      <img src="../../../assets/imgs/logo.png" class="logo" width="70px" height="70px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio" routerLinkActive="activelink">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/seguras" routerLinkActive="activelink">Seguras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/casifalopas" routerLinkActive="activelink">CasiSeguras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/falopas" routerLinkActive="activelink">Inseguras(CUIDADO)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/ayuda" routerLinkActive="activelink">Links(Ayuda)</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
