<h1 align="center" class="m-5">Links Útiles</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p>¿Dónde veo para comprar o vender dólar cripto más barato?</p>
        <a href="https://coinmonitor.info/" target="blank"><button class="btn btn-primary">Ir a la página</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p>¿La página hizo Rug Pull?</p>
        <a href="https://esp.thugs.fi/guias-de-thugs/guias-generales/unstake-de-emergencia" target="blank"><button class="btn btn-primary">Ir a la página</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p>VER CHART 1</p>
        <a href="https://metamorphosis.chartex.pro/" target="blank"><button class="btn btn-primary">Ir a la página</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p>VER CHART 2</p>
        <a href="https://goswapp-bsc.web.app/" target="blank"><button class="btn btn-primary">Ir a la página</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p>VER CHART 3</p>
        <a href="https://dex.guru/" target="blank"><button class="btn btn-primary">Ir a la página</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p>¿DONDE ENCONTRAR PROYECTOS NUEVOS Y SUS FECHAS DE INICIO?</p>
        <a href="https://bscscan.com/yieldfarms" target="blank"><button class="btn btn-primary">Ir a la página</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p>¿DONDE BUSCO UN CONTRATO DE BSC?</p>
        <a href="https://bscscan.com/" target="blank"><button class="btn btn-primary">Ir a la página</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p>¿COMO CONECTAR LA METAMASK A LA RED BINANCE SMART CHAIN?</p>
        <a href="https://academy.binance.com/es/articles/connecting-metamask-to-binance-smart-chain" target="blank"><button class="btn btn-primary">Ir a la página</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p>NO ENTIENDO NADA DE FARMING ¿POR DONDE EMPIEZO?</p>
        <a href="https://www.youtube.com/watch?v=yEsDr6GCwI8&list=PL_GbFlpvht1ctqPoMMWOjmNT_bdTX9YEG" target="blank"><button class="btn btn-primary">Ir a la página</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p>¿CUANTO VALE MI LP? (si pegan el contrato de master chef donde tienen su lp tambien se los dice)</p>
        <a href="https://howmuchismylp.com/" target="blank"><button class="btn btn-primary">Ir a la página</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p>¿CUANTO VALE MI LP 2?</p>
        <a href="https://dailydefi.org/tools/calculate-viking-lp-token-value/" target="blank"><button class="btn btn-primary">Ir a la página</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p>¿CUANTO VALE MI LP 3?</p>
        <a href="https://vfat.tools/bsc/" target="blank"><button class="btn btn-primary">Ir a la página</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p>REVOCAR CONTRATOS (SEGURIDAD) OPCION 1</p>
        <a href="https://unrekt.net/" target="blank"><button class="btn btn-primary">Ir a la página</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p>REVOCAR CONTRATOS (SEGURIDAD) OPCION 2</p>
        <a href="https://allowance.beefy.finance/" target="blank"><button class="btn btn-primary">Ir a la página</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p>Calcular el impermanent loss de un POOL</p>
        <a href="https://chitty27.pythonanywhere.com/" target="blank"><button class="btn btn-primary">Ir a la página</button></a>
      </div>
    </div>
  </div>
</div>
